@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color:  #000000;
    color: #15ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

#game {
    display: flex ;
    background-color:  #C499BA ;
}

.card {
    width: 160px;
    height: 120px;
    background-color: #0e2de0;
    border: solid #ff0000 10px; 
    border-radius: 50px;
    text-align: center;
    font-size: 6rem;
    margin: 5px;
    padding: 10px;
    line-height: 100px;  
}

.first-button {
    background-color: #7DCE13;
    color: #00ffea;
}

.second-button {
    background-color: #fd8989;
    color: #d400ff;
}

.genero-title {
    background-color: #230b7a;
    text-align: center;
    border: solid 5px;
    border-radius: 30px;
    height: 40px;
    color: #f6f5cc;
    font-size: 32px;
}

.answer-correct {
    background-color: #F7F7F7;
}

.answer-wrong {
    background-color: #f80606;
}